<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <title>Cookie orders</title>
</head>
<body>
    <h1>All orders</h1>
        <table>
            <tr>
                <th>Customer name</th>
                <th>Cookie type</th>
                <th>Number of boxes</th>
                <th>Actions</th>
            </tr>
            {% for one_order in all_orders %}
            <tr>
                <td>{{one_order.customer_name}}</td>
                <td>{{one_order.cookie_type}}</td>
                <td>{{one_order.number_of_boxes}}</td>
                <td><a href="/edit/{{one_order.id}}">Edit</a></td>
            </tr>
            {% endfor %}
        </table>
    <a href="/new/order">+ new order</a>
</body>
</html>

<!-- Format for adding images -->
<!-- <img src="{{ url_for('static', filename='images/img.png') }}"> -->