<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users CR</title>
</head>
<body>
    <Div style="display: flex; justify-content: space-between;">
        <h1>Change order</h1> <a href="/cookies">Back to purchases</a>
    </Div>
    <div style="display: block;">
        {% with messages = get_flashed_messages() %}<!-- declare a variable called messages -->
            {% if messages %}<!-- check if there are any messages -->
                {% for message in messages %}<!-- loop through the messages -->
                    <p>{{message}}</p><!-- display each message in a paragraph tag -->
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <Div style="margin: 0 auto; width: 500px;" >
        <Form action='/update/{{user.id}}' method='post'>
            <label>
                Name:
                <input style="display: block;" type="text" name="customer_name" value="{{user.customer_name}}">
            </label>
            <label>
                Cookie type:
                <input style="display: block;" type="text" name="cookie_type" value="{{user.cookie_type}}">
            </label>
            <label>
                Number of boxes:
                <input style="display: block;" type="number" name="number_of_boxes" value="{{user.number_of_boxes}}">
            </label>
            <input type='submit' value='Update' style="display: block;">
        </Form>
        <a href="/read/one/{{user.id}}">Show User</a>
    </Div>
</body>
</html>